.light-theme {
	--primary-color: #fff;
	--inverse-primary: #333;
	--primary-font-color: #333;
	--secondary-font-color: #555;
	--logo-src: url('./content/images/logo-bright.svg');
}

.dark-theme {
	--primary-color: #333;
	--inverse-primary: #fff;
	--primary-font-color: #fff;
	--secondary-font-color: #bbb;
	--logo-src: url('./content/images/logo-dark.svg');
}

@font-face {
	font-family: 'Ubuntu Mono';
	src: url('./content/fonts/ubuntu-mono.ttf');
}
* {
	box-sizing: border-box;
	font-family: 'Ubuntu Mono', sans-serif;
}

html,
body,
p {
	padding: 0;
	margin: 0;
}

body {
	display: grid;
	width: 100vw;
	height: 100vh;
	background-color: var(
		--primary-color
	);
}

body > * {
	justify-self: stretch;
}

.sidebar {
	grid-area: sidebar;
	/* background-color: red; */
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-between;
}

.nav {
	grid-area: nav;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.nav a {
	text-decoration: none;
	color: var(--primary-font-color);
	font-size: clamp(
		1rem,
		0.9522rem + 0.2548vw,
		1.5rem
	);
}

.nav a:hover {
	text-decoration: none;
	cursor: pointer;
	color: var(--secondary-font-color);
}

.gallery {
	grid-area: gallery;
	margin: 0 1rem;
	position: relative;
	overflow-y: scroll;
}

#ngy2p {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
}

.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	width: 100%;
	max-width: 250px;
	background-image: var(--logo-src);
	background-repeat: no-repeat;
	background-position: center;
}

.logo-container img {
	display: block;
	width: 100%;
}

.hero-container {
	flex: 1;
	margin: 0.5em 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-container .image {
	box-shadow: 0px 2px 2px
		rgba(0, 0, 0, 0.35);
	border-radius: 50%;
	border: 4px solid white;
	max-width: 350px;
	width: 250px;
	height: 250px;
	display: inline;
	margin: auto;
	background-image: url('./content/images/me.png');
	background-position: center;
	background-size: contain;
}

.blurb-container {
	flex: 2;
	text-align: center;
	vertical-align: middle;
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.blurb-container p {
	padding: 0.25rem 1.5rem;
	color: var(--secondary-font-color);
	font-size: clamp(
		1rem,
		0.9522rem + 0.2548vw,
		1.5rem
	);
}

.theme-switch i {
	color: var(--inverse-primary);
	position: absolute;
	top: 1.25rem;
	left: 1.25rem;
	transition: all 0.2s ease;
}

.theme-switch i:hover,
.theme-switch i:active {
	transform: scale(1.5, 1.5);
}

/* Desktop */
@media (min-width: 768px) {
	body {
		grid-template-columns:
			1fr
			calc(100vw - 18rem);
		grid-template-rows: 0.1fr 1fr;
		grid-template-areas:
			'sidebar nav'
			'sidebar gallery';
		max-height: 1000px;
	}
}

/* Mobile */
@media (max-width: 767px) {
	body {
		height: 200vh;
		grid-template-rows: 100vh 0.1fr 1fr;
		grid-template-areas:
			'sidebar '
			'nav'
			'gallery';
	}

	.logo-container {
		max-width: 250px;
	}

	.hero-container .image {
		max-width: 250px;
	}

	.blurb-container .text p {
		max-width: 40ch;
	}

	.blurb-container {
		flex: 2;
	}

	.gallery {
		margin: 0 0;
	}
}

@media (max-width: 350px) {
	.logo-container {
		max-width: 250px;
	}

	.hero-container .image {
		max-width: 200px;
		width: 200px;
		height: 200px;
	}

	.blurb-container .text p {
		max-width: 40ch;
	}

	.blurb-container {
		flex: 2;
	}

	.gallery {
		margin: 0 0;
	}
}
